#!/bin/bash

#SBATCH -J smo_cmp            # Job name
#SBATCH -o job.%j.out         # Name of stdout output file (%j expands to jobId)
#SBATCH -p max                # Name of the partition
#SBATCH -N 30                 # Total number of nodes requested
#SBATCH -n 480                # Total number of tasks requested
#SBATCH -t 12:00:00           # Run time (hh:mm:ss)

make -j 480 DATADIR=../data/cat_a_b
