#!/bin/bash

#SBATCH -J smo_cmp
#SBATCH -o job.%j.out
#SBATCH -p max
#SBATCH -N 50
#SBATCH -n 800
#SBATCH --ntasks-per-node=16
#SBATCH -t 8-00:00:00

nodes=$(scontrol show hostname)

tasks=()
while IFS= read -r line; do
	tasks+=("$line")
done < job.list

total_tasks="${#tasks[@]}"
tasks_per_node=$((($total_tasks + 50 - 1) / 50)) # round up division

task_index=0
for node in $nodes; do
	for i in `seq $tasks_per_node`; do
		if [ $task_index -lt $total_tasks ]; then
			srun --exclusive --nodes 1 --ntasks 1 --nodelist="$node" bash -c "${tasks[task_index]}" &
			((task_index++))
		fi
	done
done

wait
